# Motor orbital (somente observacao; sem publicacao de apostas)
MONGO_URL=
ORBIT_SHADOW_ENABLED=1
ORBIT_ROULETTE_IDS=pragmatic-auto-roulette,pragmatic-brazilian-roulette,pragmatic-immersive-roulette-deluxe
ORBIT_HISTORY_LIMIT=600
ORBIT_HORIZON=3
ORBIT_MAX_ATTEMPTS=10
ORBIT_POLL_SECONDS=2
ORBIT_DATA_DIR=.orbit-data
ORBIT_LOG_LEVEL=INFO
ORBIT_API_URL=http://127.0.0.1:8081
ORBIT_TRIGGER_ENABLED=1
ORBIT_TRIGGER_MAX_ATTEMPTS=5
ORBIT_TRIGGER_POLL_SECONDS=2
ORBIT_TRIGGER_LOG_LEVEL=INFO
